/* adds myerweb tools css reset code to css stylesheet */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* adds HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* adds border-box css reset */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
}

/* mobile css styles for 760px and below */

body {
	background-color:#030301;
	color: #FFFFFF;
}

h1 {
	font-size: 2rem;
	font-family: 'Unica One', cursive;
}

h2 {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
}

h3 {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
}

h4 {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
}

p {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
}

ul {
	font-size: 2rem;
	font-family: 'Inconsolata', monospace;
}

.ttplogo {
	width: 400px;
	margin: 0.5rem;
	position: relative;
	right: -6rem;
}

/* homepage 760px */

.homebannerimg {
	margin: 0.5rem;
	padding: 0.5rem;
	width: 600px;
}

.homerecordimg {
	width: 600px;
}

.homecdimg {
	width: 600px;
}

.homedvdimg {
	width: 600px;
}

.buyselltradeimg {
	width: 600px;
}

.connectimg {
	width: 600px;
}

ul {
	list-style-type: none;
	margin: 0.5rem;
	padding: 0.5rem;
	width: 12rem;
}

li a {
	display: block;
	position: relative;
	left: 12.4rem;
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 2px solid #FF1B1C;
	text-align: center;
}

li a:hover {
	background-color: #FF1B1C;
	color:#FFFFFF;
}

.bannertext {
	margin: 0.5rem;
	padding: 0.5rem;
	display: block;
	position: absolute;
	top: 33.5rem;
	width: 600px;
	text-align: center;
}

.contactbutton {
	margin: 0;
	padding: 0.5rem;
	width: 8rem;
	display: block;
	position: relative;
	top: -6rem;
	left: 15rem;
	color: #FF1B1C;
	background-color: #030301;
	font-family: 'Inconsolata', monospace;
	font-size: large;
}

/* products page 760px */

.productsbanner img {
	width: 600px;
}

.prodrecords img {
	width: 600px;
}

.prodcds img {
	width: 600px;
}

.proddvds img {
	width: 600px;
}

/* contact page 760px */

.contactbanner img {
	width: 600px;
}

.theowner img {
	width: 600px;
}

.storehours img {
	width: 600px;
}

.thelocation img {
	width: 600px;
}