/* adds myerweb tools css reset code to css stylesheet */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* adds HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* adds border-box css reset */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after{
    box-sizing: inherit;
}

/* mobile css styles for 760px and below */

body {
	background-color:#030301;
	color: #FFFFFF;
}

h1 {
	font-size: 1.5rem;
	font-family: 'Unica One', cursive;
}

h2 {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
}

h3 {
	font-size: 1rem;
	font-family: 'Unica One', cursive;
}

h4 {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
}

p {
	font-size: 1rem;
	font-family: 'Inconsolata', monospace;
}

ul {
	font-size: 1.5rem;
	font-family: 'Inconsolata', monospace;
}

.ttpmobilelogo {
	width: 300px;
	margin: 0.1rem;
	position: relative;
	right: -3rem;
}

.ttpdesktoplogo {
	display: none;
}

/* homepage 760px */

.homebannerimg {
	opacity: 0.7;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
}

.homerecordimgdesktop {
	display: none;
}

.homecdimgdesktop {
	display: none;
}

.homedvdimgdesktop {
	display: none;
}

.homerecordimg {
	opacity: 0.3;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
	position: relative;
	top: -2.5rem;
}

.homecdimg {
	opacity: 0.3;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
	position: relative;
	top: -2.5rem;
}

.homedvdimg {
	opacity: 0.3;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
	position: relative;
	top: -2.5rem;
}

.buyselltradeimg {
	opacity: 0.4;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
	position: relative;
	top: -2.5rem;
}

.connectimg {
	opacity: 0.2;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
	position: relative;
	top: -2.5rem;
}

ul {
	list-style-type: none;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 12rem;
}

li a {
	display: block;
	position: relative;
	left: 6.3rem;
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 2px solid #FF1B1C;
	text-align: center;
}

li a:hover {
	background-color: #FF1B1C;
	color:#FFFFFF;
}

.bannertext {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 23.8rem;
	width: 400px;
	text-align: center;
}

.contactbutton {
	margin: 0;
	padding: 0.5rem;
	width: 8rem;
	display: block;
	position: relative;
	top: -4rem;
	left: 8.3rem;
	color: #FF1B1C;
	background-color: #030301;
	font-family: 'Inconsolata', monospace;
	font-size: large;
}

.recordtext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 43rem;
	width: 400px;
	text-align: center;
	color: #FF1B1C;
	font-size: 2.5rem;
}

.recordtext h3 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 47rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1rem;
}

.cdtext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 60rem;
	width: 400px;
	text-align: center;
	color: #FF1B1C;
	font-size: 2.5rem;
}

.cdtext h3 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 64rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1rem;
}

.dvdtext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 79rem;
	width: 400px;
	text-align: center;
	color: #FF1B1C;
	font-size: 2.5rem;
}

.dvdtext h3 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 83rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1rem;
}

.buyselltradetext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 95rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5rem;
}

.buyselltradetext h3 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 99rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1rem;
}

.connecttext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 110rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5rem;
}

.socialicons {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 114rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 4rem;
}

.homepagefooter {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 123rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
}

/* products page 760px */

.productsbanner img {
	opacity: 0.4;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
}

.prodrecords img {
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
	position: relative;
	top: 0.1rem;
}

.prodcds img {
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
	position: relative;
	top: 18rem;
}

.proddvds img {
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
	position: relative;
	top: 31.5rem;
}

.productstext h1 {
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	top: 30rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5rem;
}

.recordproducttext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 57rem;
	width: 400px;
	text-align: left;
	color: #FF1B1C;
	font-size: 2.5rem;
}

.recordproducttext p {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 59.5rem;
	width: 400px;
	text-align: left;
	color: #7C898B;
	font-size: 1rem;
}

.recordproducttext h3 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 73rem;
	width: 400px;
	text-align: center;
	color: #FF1B1C;
	font-size: 1.2rem;
}

.cdproducttext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 91rem;
	width: 400px;
	text-align: left;
	color: #FF1B1C;
	font-size: 2.5rem;
}

.cdproducttext p {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 94rem;
	width: 400px;
	text-align: left;
	color: #7C898B;
	font-size: 1rem;
}

.cdproducttext h3 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 103.5rem;
	width: 400px;
	text-align: center;
	color: #FF1B1C;
	font-size: 1.2rem;
}

.dvdproducttext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 121.6rem;
	width: 400px;
	text-align: left;
	color: #FF1B1C;
	font-size: 2.5rem;
}

.dvdproducttext p {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 124.5rem;
	width: 400px;
	text-align: left;
	color: #7C898B;
	font-size: 1rem;
}

.dvdproducttext h3 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 134rem;
	width: 400px;
	text-align: center;
	color: #FF1B1C;
	font-size: 1.2rem;
}

.productsfooter {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 136.5rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
}

/* contact page 760px */

.contactbanner img {
	opacity: 0.6;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
}

.theowner img {
	opacity: 0.5;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
}

.storehours img {
	opacity: 0.5;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
}

.thelocation img {
	opacity: 0.5;
	margin: 0.1rem;
	padding: 0.3rem;
	width: 400px;
}

.contacttext h1 {
	margin: 0;
	padding: 0;
	display: block;
	position: absolute;
	top: 30.5rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5rem;
}

.ownertext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 62rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5rem;
}

.ownertext p {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 68rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.2rem;
}

.hourstext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 79rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5rem;
}

.hourstext p {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 82rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.2rem;
}

.locationtext h1 {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 97rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 2.5rem;
}

.locationtext p {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 100rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
	font-size: 1.2rem;
}

.googlemap {
	margin: 0.1rem;
	padding: 0.3rem;
}

.contactfooter {
	margin: 0.1rem;
	padding: 0.3rem;
	display: block;
	position: absolute;
	top: 127rem;
	width: 400px;
	text-align: center;
	color: #FFFFFF;
}

@media screen and (min-width: 800px) {
	
	.ttpmobilelogo {
		display: none;
	}

	.ttpdesktoplogo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 1100px;
		padding: 0.5rem;
	}

	ul {
		width: 15rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-between;
	}
	
	li a {
		display: block;
		position: relative;
		color: #FFFFFF;
		text-decoration: none;
		border-bottom: 2px solid #FF1B1C;
		text-align: center;
		left: 0;
		top: -0.5rem;
	}

	.homebannerimg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 1200px;
	}

	.homerecordimg {
		display: none;
	}
	
	.homecdimg {
		display: none;
	}
	
	.homedvdimg {
		display: none;
	}

	.homerecordimgdesktop {
		opacity: 0.3;
		margin: 0.1rem;
		padding: 0.3rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: -2.5rem;
	}
	
	.homecdimgdesktop {
		opacity: 0.3;
		margin: 0.1rem;
		padding: 0.3rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: -2.5rem;
	}
	
	.homedvdimgdesktop {
		opacity: 0.3;
		margin: 0.1rem;
		padding: 0.3rem;
		display: block;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: -2.5rem;
	}
	
	.buyselltradeimg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 1200px;
	}
	
	.connectimg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 1200px;
	}
}